<a href="https://colab.research.google.com/github/NOTGOD6000/Python-assignment1/blob/main/python%20assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1  L is a list defined as L= [11, 12, 13, 14].

    (i)WAP to add 50 and 60 to L

In [ ]:
L= [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii)WAP to remove 11 and 13 from L

In [ ]:
L=[11,12,13,14]
L.pop(0)
L.pop(1)
print(L)

[12, 14]

(iii) WAP to sort L in ascending order.

In [ ]:
L=[11,12,13,14]
L.sort()
print(L)

[11, 12, 13, 14]

(iv) WAP to sort L in descending order.

In [ ]:
L=[11,12,13,14]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

(v)WAP to search for 13 in L

In [ ]:
L=[11,12,13,14]
if 13 in L:
    print("Search successful:", 13, "found at index", L.index(13))
else:
    print("Search unsuccessful")

Search successful: 13 found at index 2

(vi)WAP to count the number of elements present in L.

In [ ]:
L=[11,12,13,14]
print(len(L))

4

(vii)WAP to sum all the elements in L.

In [ ]:
L=[11,12,13,14]
print(sum(L))

50

(viii) WAP to sum all ODD numbers in L

In [ ]:
L=[11,12,13,14]
sum_odd = 0

for num in L:
    if num % 2 != 0:
        sum_odd += num

print("Sum of all odd numbers in L:", sum_odd)

Sum of all odd numbers in L: 24

(ix) WAP to sum all EVEN numbers in l


(x) WAP to sum all PRIME numbers in L.


(xi) WAP to clear all the elements in L.



(xii) WAP to delete L.

In [7]:
#prints sum for all even number
L=[11,12,13,14]
sum_even = 0

for num in L:
    if num % 2 == 0:
        sum_even += num

print("Sum of all even numbers in L:", sum_even)

#print sum of all prime number
L=[11,12,13,14]
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n//2+1):
        if n % i == 0:
            return False
    return True
print('sum of all prime no is',sum(x for x in L if is_prime(x)))

#clear list
L.clear()
print(L)
#delete list
del L

Sum of all even numbers in L: 26
sum of all prime no is 24
[]

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.

 (i) WAP to add new entry in D; key=8 and value is 8.8

 (ii) WAP to remove key=2.

 (iii) WAP to check weather 6 key is present in D.

 (iv) WAP to count the number of elements present in D.

(v) WAP to add all the values present D.

(vi) WAP to update the value of 3 to 7.1.

(vii)WAP to clear the dictionary.

In [11]:
#dictionary operation
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
#adding
D[8] = 8.8
print("after adding=",D)
#pop element
D.pop(2)
print("after pop=",D)
#find element
print(6 in D)
#print length
print(len(D))
#print sum
print("sum=",sum(D.values()))
#update value
D[3] = 7.1
print("after update",D)
#for clear
D.clear()

after adding= {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
after pop= {1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}
False
5
sum= 37.4
after update {1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].

  S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

(i)  WAP to add 55 and 66 in Set S1.

(ii) WAP to remove 10 and 30 from Set S1.

(iii) WAP to check whether 40 is present in S1.

(iv) WAP to find the union between S1 and S2.

(v) WAP to find the intersection between S1 and S2.

(vi) WAP to find the S1 - S2.

In [13]:
#Set operations
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

#Adding
S1.add(55)
S1.add(66)
print("after Adding=",S1)

#Removing
S1.remove(10)
S1.remove(30)
print("after Removing=",S1)

#Check
print(40 in S1)

#Union
print("Union",S1.union(S2))

#Intersection
print("Intersection",S1.intersection(S2))

#Difference
print("difference",S1.difference(S2))

after Adding= {50, 66, 20, 55, 40, 10, 60, 30}
after Removing= {50, 66, 20, 55, 40, 60}
True
Union {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection {40, 50, 60}
difference {66, 20, 55}

Q4. Write the following program.

(i) WAP to print 100 random strings whose length between 6 and 8.

(ii) WAP to print all prime numbers between 600 and 800.

(iii)WAP to print all numbers between 100 and 1000 that are divisible by7 and 9.

In [16]:
#print random string
import random
import string

for i in range(100):
    length = random.randint(6, 8)
    rand_str = ''.join(random.choices(string.ascii_letters , k=length))
    print(rand_str)
#print Prime number
def prime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2)+1):
        if n % i == 0:
            return False
    return True

for i in range(600, 801):
    if prime(i):
        print(i)
#Print divsible  no. between 7 and 9
for i in range(100, 1001):
    if i % 7 == 0 and i % 9 == 0:
        print(i)

BgveFAAD
qElWAS
wLspRt
xYbVyxK
JoAEDAAw
HUCxEpj
LsIUiYZv
UhTIRM
ZcITNXNN
ICdpzH
OMwwwK
IkBBav
NciKtdW
SOeAPV
hleWFGJ
abpXar
drTdzJ
cXjFhOe
BtRDqfM
KXjAhsmb
iKVVXj
nkwMoW
YsyAstjg
uXAEax
RLetWU
vrJTenw
oGRbUe
MrRUBpU
veIVfks
cLMOtN
qShvOij
yfegqc
uSWtJrGF
oTmulJ
ALhYbbW
KBjLWvMZ
FeYSikmz
xeTyFYC
JwMBDS
tpqrdwQB
beLAzWa
FYxrNSK
ejpgwWz
EItnwLOT
jolqWR
UKwdbjT
qlmsReqd
Zlliihs
QBKQvW
NzkrAvz
CjkMjdH
YkoKfk
CHHpyVpc
ypAbUbYj
ymfHwfSY
nWfFMk
SaIcXeqy
cLEhph
BwudRO
kwLGNdhn
rSpWPZTj
stkNRhu
gPokupM
eEQnQH
dqjibATT
YbNzHH
awSRDlw
UVSerN
WrLDPjwI
JIiSoMaQ
nRQPWMA
jdtqXBbc
GrCOqDf
JZoKAWc
Rsdequ
qivPUzv
fpSQbrga
qLcADQqn
okDNnVQ
DqVNScl
syogtOev
GEggDGCl
bJeQBJ
KgheFXv
dZkXasyK
GFFoLJ
ydopUKBJ
PIXfiBu
nogGWfy
UISBkTY
jmLorpQ
eViWrSz
GjRecFQ
ZavajZPc
cPaHPvE
akkbJHb
aIvhlRtt
XRPoADP
sHyIThqz
KTOoVdC
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find

(i)Common numbers in the two lists

(ii) Unique numbers in both the list

(iii)Minimum in both the list

(iv) Maximum in both the list

(v) Sum of both the lists

In [19]:
import random

# Create two lists with 10 random numbers between 10 and 30
list1 = [random.randint(10, 30) for i in range(10)]
list2 = [random.randint(10, 30) for i in range(10)]

print("List 1:", list1)
print("List 2:", list2)

# Common no.
common = list(set(list1) & set(list2))
print("Common numbers:", common)

# Unique numbers in both lists
unique = list(set(list1) ^ set(list2))
print("Unique numbers =", unique)

# Minimum in both lists
print("Min in List 1=", min(list1))
print("Min in List 2=", min(list2))

# Maximum in both lists
print("Max in List 1=", max(list1))
print("Max in  List 2=", max(list2))

# Sum of both lists
print("Sum of List 1=", sum(list1))
print("Sum of List 2=", sum(list2))
print("Total =", sum(list1) + sum(list2))

List 1: [24, 21, 20, 26, 19, 23, 22, 26, 30, 20]
List 2: [22, 24, 15, 26, 28, 15, 29, 17, 22, 14]
Common numbers: [24, 26, 22]
Unique numbers = [14, 15, 17, 19, 20, 21, 23, 28, 29, 30]
Min in List 1= 19
Min in List 2= 14
Max in List 1= 30
Max in  List 2= 29
Sum of List 1= 231
Sum of List 2= 212
Total = 443

Q6. WAP to create a list of 100 random numbers between 100 and 900.

Count and print the:

(i) All odd numbers

(ii) All even numbers

(iii) All prime numbers

In [20]:
import random

# Create a list of 100 random numbers between 100 and 900
numbers = [random.randint(100, 900) for i in range(100)]

#All odd numbers
odd_numbers = [x for x in numbers if x % 2 != 0]
print("Odd numbers:", odd_numbers)
print("Count of odd=", len(odd_numbers))

#All even numbers
even_numbers= [x for x in numbers if x % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even =", len(even_numbers))

#All prime numbers
def isprime(n):
    if n < 2:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

primenumbers = [x for x in numbers if isprime(x)]
print("Prime numbers=", primenumbers)
print("Count of prime numbers=", len(primenumbers))

Odd numbers: [257, 855, 657, 333, 363, 843, 631, 501, 839, 583, 279, 811, 393, 325, 315, 695, 281, 619, 469, 791, 885, 333, 425, 287, 325, 715, 531, 281, 643, 839, 177, 171, 367, 527, 291, 597, 371, 883, 457, 785, 719, 259]
Count of odd= 42
Even numbers: [184, 742, 138, 480, 172, 652, 604, 548, 816, 482, 572, 144, 148, 390, 184, 402, 804, 230, 244, 552, 100, 244, 780, 348, 366, 150, 154, 652, 544, 428, 624, 314, 588, 120, 780, 746, 758, 798, 118, 670, 728, 532, 148, 504, 232, 346, 390, 856, 172, 330, 290, 296, 216, 124, 682, 842, 728, 426]
Count of even = 58
Prime numbers= [257, 631, 839, 811, 281, 619, 281, 643, 839, 367, 883, 457, 719]
Count of prime numbers= 13

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.

WAP to read all the keys and values from dictionary and write to the file in the given below format.

Key1, Value1

Key2, Value2

Key3, Value3

In [23]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

#Open the file in write mode
file = open("output.txt", "w")

#Loop through the dictionary and write key-value pairs
for key, value in D.items():
    file.write(f"{key}, {value}\n")

#close the file
file.close()

print("Data has been written to 'output.txt'")

Data has been written to 'output.txt'

Q8. Write to the file 100 random strings whose length between 10 and 15.

In [25]:
import random
import string

fp = open('random_strings.txt', 'w')

#loop
for i in range(100):
    length = random.randint(10, 15)  # Random length for the string
    rand_str = ''.join(random.choices(string.ascii_letters + string.digits, k=length))  # Generate the random string
    fp.write(rand_str + "\n")  # Write the string to the file with a newline

fp.close()

print("completed \nOpen random_strings.txt to view the content")

completed
Open random_strings.txt to view the content

Q9. Write to the file all prime numbers between 600 and 800.

In [26]:
#prime no. checking
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

#openning file in write mode
fp = open('prime_numbers.txt', 'w')

# Loop through the numbers from 600 to 800
for num in range(600, 801):
    if is_prime(num):  #function call
        fp.write(str(num) + "\n")  # Writing the prime no. in file

fp.close()

print("Prime numbers between 600 and 800 have been written to 'prime_numbers.txt'")

Prime numbers between 600 and 800 have been written to 'prime_numbers.txt'