<a href="https://colab.research.google.com/github/NOTGOD6000/Python-assignment1/blob/main/python%20assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1  L is a list defined as L= [11, 12, 13, 14].

    (i)WAP to add 50 and 60 to L

In [ ]:
L= [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii)WAP to remove 11 and 13 from L

In [ ]:
L=[11,12,13,14]
L.pop(0)
L.pop(1)
print(L)

[12, 14]

(iii) WAP to sort L in ascending order.

In [ ]:
L=[11,12,13,14]
L.sort()
print(L)

[11, 12, 13, 14]

(iv) WAP to sort L in descending order.

In [ ]:
L=[11,12,13,14]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

(v)WAP to search for 13 in L

In [ ]:
L=[11,12,13,14]
if 13 in L:
    print("Search successful:", 13, "found at index", L.index(13))
else:
    print("Search unsuccessful")

Search successful: 13 found at index 2

(vi)WAP to count the number of elements present in L.

In [ ]:
L=[11,12,13,14]
print(len(L))

4

(vii)WAP to sum all the elements in L.

In [ ]:
L=[11,12,13,14]
print(sum(L))

50

(viii) WAP to sum all ODD numbers in L

In [ ]:
L=[11,12,13,14]
sum_odd = 0

for num in L:
    if num % 2 != 0:
        sum_odd += num

print("Sum of all odd numbers in L:", sum_odd)

Sum of all odd numbers in L: 24

(ix) WAP to sum all EVEN numbers in l


(x) WAP to sum all PRIME numbers in L.


(xi) WAP to clear all the elements in L.



(xii) WAP to delete L.

In [7]:
#prints sum for all even number
L=[11,12,13,14]
sum_even = 0

for num in L:
    if num % 2 == 0:
        sum_even += num

print("Sum of all even numbers in L:", sum_even)

#print sum of all prime number
L=[11,12,13,14]
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, n//2+1):
        if n % i == 0:
            return False
    return True
print('sum of all prime no is',sum(x for x in L if is_prime(x)))

#clear list
L.clear()
print(L)
#delete list
del L

Sum of all even numbers in L: 26
sum of all prime no is 24
[]